/* Coolors Exported Palette - coolors.co/0d0221-0f084b-26408b-a6cfd5-c2e7d9 */

/* RGB */
$color1: rgba(13, 2, 33, 1);
$color2: rgba(15, 8, 75, 1);
$color3: rgba(38, 64, 139, 1);
$color4: rgba(198, 224, 228, 1);
$color5: rgba(238, 248, 244, 1);
