
.fade {
  &-enter-active, &-leave-active {
    transition: opacity 1.5s;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}

.menu-transition {
  &-enter, &-leave-to {
    transform: scaleY(0);
  }
  &-enter-active, &-leave-active {
    transform-origin: top;
    transition: all 300ms linear;
  }
}

.router-transition {
  &-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  &-enter-active {
    transition: opacity 300ms ease-out, transform 300ms ease-out;
  }
  &-leave-to {
    opacity: 0;
    transform: scale(.97);
  }
  &-leave-active {
    transition: opacity 270ms ease-out, transform 270ms ease-out;
  }
}

.slide-down-up {
  &-enter, &-leave-to {
    max-height: 0;
  }
  &-enter-to, &-leave {
    max-height: 500px;
  }
  &-enter-active {
    transition: max-height 500ms ease-in;
  }
  &-leave-active {
    transition: max-height 500ms ease-out;
  }
}
